*{
  background-color: rgb(38, 45, 56);
}

.dark-theme {
  background: #000;
  color: #fff;
}

.light-theme {
  background: #fff;
  color: #000;
}

.footer {
  position: absolute;
  bottom: 0;
}

.footer{
  margin:100px;
  font-weight: 400;
  font-size: 0.9rem;
  text-align: center;
  padding: 150px 0px 0px 0px;
  color: white;
  position: absolute;
  bottom: 0;
}