.mb-3, .forum-window{
  border-radius: 9px;
  max-width: 400px;
}

.forum-links {
  position: absolute;
  top: 90%;
  left: 10%;
  transform: translateX(-50%);
  margin: -300px 0px 0px 0px;
  border: 2px solid white;
  padding: 15px;
  max-width: 200px;
  overflow-y: scroll;
  border-radius: 9px;
}

.click-to-post :hover{
  color: lightblue;
}

.forum-btn{
  margin-left: '10px';
}

.forum-content{
  position: absolute;
  right: 4%;
  top: 47%;
  width: 400px;
}