h1 {
    margin-left: 5px;
    color: white;
}

.nav-link {
    margin-right: 30px;
    justify-content: space-between;
}

  .date {
      display: flex;
      margin: 10px;
      justify-content: space-between;
  }

  .header {
      text-align: center;
  }

  .header-links {
      display: flex;
      justify-content: flex-end;
      align-items: center;
  }