.btn-login{
  margin:10px;
}

.login{
  max-width: 600px;
  padding:10px 10px;
  background-color: rgb(62, 62, 74);
  justify-content: center;
}

.mb-3{
  padding-top: 10px;
  max-width: 600px;
  float: none;
  margin: 0 auto;
}